* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1500px;
  background-color: $fondoClaro;
  transition: ease all 0.5s;
  &.dark {
    background-color: $fondoOscuro;
  }
}
header {
  background-color: $fondoClaro;
  transition: ease all 0.5s;
  &.dark {
    background-color: $fondoOscuro;
  }
}
